In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
lst_files = os.listdir("../input")
lst_files = [os.path.join('../input', x) for x in lst_files]
lst_files

['../input/sales_train.csv.gz',
 '../input/test.csv.gz',
 '../input/items.csv',
 '../input/sample_submission.csv.gz',
 '../input/shops.csv',
 '../input/item_categories.csv']

In [5]:
# Reading in all datasets
train = pd.read_csv(lst_files[0])
test = pd.read_csv(lst_files[1])
items = pd.read_csv(lst_files[2])
sample_sub = pd.read_csv(lst_files[3])
shops = pd.read_csv(lst_files[4])
cat = pd.read_csv(lst_files[5])

In [6]:
# Merge all datasets into full_train
full_train = train.merge(items, on='item_id')
full_train = full_train.merge(cat, on='item_category_id')
full_train = full_train.merge(shops, on='shop_id')

In [7]:
full_train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name,shop_name
0,02.01.2013,0,59,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,"Ярославль ТЦ ""Альтаир"""
1,26.04.2013,3,59,944,150.0,1.0,2012 (BD),37,Кино - Blu-Ray,"Ярославль ТЦ ""Альтаир"""
2,26.06.2013,5,59,944,199.5,1.0,2012 (BD),37,Кино - Blu-Ray,"Ярославль ТЦ ""Альтаир"""
3,20.07.2013,6,59,944,199.5,1.0,2012 (BD),37,Кино - Blu-Ray,"Ярославль ТЦ ""Альтаир"""
4,14.09.2013,8,59,944,299.0,2.0,2012 (BD),37,Кино - Blu-Ray,"Ярославль ТЦ ""Альтаир"""

### Linear Regression
- one-hot encoding with categorical id

In [25]:
x = full_train[['shop_id','item_id']]

In [30]:
x.reset_index(inplace=True)

In [32]:
x = x.rename(columns={'index':'ID'})

In [33]:
y = full_train['item_cnt_day']

In [34]:
x = pd.get_dummies(data=x, drop_first=True)

In [35]:
from sklearn import linear_model

lr = linear_model.LinearRegression()
lr.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [37]:
test = pd.get_dummies(data=test, drop_first=True)

In [38]:
score = lr.predict(test)

In [39]:
score

array([ 1.21754413,  1.21952824,  1.2189183 , ...,  1.25723734,
        1.28451701,  1.15355923])